# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
*.egg-info/

# Django files
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
/media/
/staticfiles/
/staticfiles/*
# Ignorar todos los archivos en staticfiles excepto los .gitkeep
!/staticfiles/.gitkeep
!/staticfiles/admin/.gitkeep
!/staticfiles/contratos/.gitkeep
!/staticfiles/js/.gitkeep


static/
local_settings.py
secret_settings.py

# If using Whitenoise or collectstatic:
staticfiles/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# dotenv files (environment variables)
.env
.env.*

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# Pipenv
Pipfile.lock

# Jupyter Notebook
.ipynb_checkpoints

# Coverage reports
htmlcov/
coverage.xml

# Excel de bases de datos
miwebapp/excel_reader/*.xlsx
excel_reader/*.xlsx
# Script JS personalizado (ignorar si lo editas localmente pero no quieres subirlo)
contratos/static/js/script.js
