{% extends "contratos/buscar_contrato.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="container">
    <div id="searchContainer">
        <h1>Buscar Orden de Servicio</h1>
        <form id="searchForm" method="get">
            <label for="orden">Número de Servicio:</label>
            <input type="text" name="orden" id="orden" value="{{ request.GET.orden|default:'' }}" size="30">

            <button type="submit">Buscar</button>
            <button type="button" onclick="clearForm()">Limpiar</button>
        </form>
    </div>

    <div class="result-container" {% if not resultados %}style="display:none;"{% endif %}>
        {% if resultados %}
            <h2>Resultados de la Orden</h2>
            <ul class="sin-bullets">
                {% for r in resultados %}
                    <li>
                        <strong>N° Servicio:</strong> {{ r|get_item:"N° SERVICIO" }}<br>
                        <strong>Proveedor:</strong> {{ r|get_item:"PROVEEDOR" }}<br>
                        <strong>Área Solicitante:</strong> {{ r|get_item:"ÁREA SOLICITANTE" }}<br>
                        <strong>Descripción:</strong> {{ r|get_item:"DESCRIPCIÓN" }}<br>
                        <strong>Fecha de la Orden:</strong> {{ r|get_item:"FECHA DE LA ORDEN"|quitar_hora }}<br>
                        <strong>Firma del Proveedor:</strong> {{ r|get_item:"FIRMA PROVEED." |quitar_hora}}<br>
                        <strong>Enviado a Admin:</strong> {{ r|get_item:"SE ENVIA A FIRMA DEL ADMIN."|quitar_hora }}<br>
                        <strong>Regresado de Admin:</strong> {{ r|get_item:"REGRESAN CON FIRMA DEL ADMIN."|quitar_hora }}<br>
                        <strong>Formalización Real:</strong> {{ r|get_item:"FECHA FORMALIZACIÓN (REAL)"|quitar_hora }}
                    </li>
                    <br>
                {% endfor %}
            </ul>
        {% else %}
            <p>No se encontraron resultados para la orden proporcionada.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
