<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador de Contratos</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}?v=2">
    <script src="{% static 'js/script.js' %}" defer></script>  
</head>
<body>

    <nav class="navbar">
        <ul class="menu">
            <li><a href="{% url 'buscar_contrato' %}">Contratos</a></li>
            <li><a href="{% url 'buscar_pedido' %}">Pedidos</a></li>
            <li><a href="{% url 'buscar_orden' %}">Órdenes</a></li>
        </ul>
    </nav>


    <div class="container">
        {% block content %}
        <div id="searchContainer">
            <h1>Buscador de Contratos de la Dirección de Adquisiciones del Senado de la República</h1>
            <form id="searchForm" method="post">
                {% csrf_token %}
                <label for="id_contrato">Número de Contrato o Proveedor:</label>
                {{ form.contrato }}
                
                <label for="anio">Año (opcional):</label>
                <input type="text" id="anio" name="anio">
                <!--<label><input type="checkbox" name="ver_convenios"> Mostrar Convenios</label>-->
                <button type="submit">Buscar</button>
                <button type="button" onclick="clearForm()">Limpiar</button>
            </form>
        </div>

        <div class="result-container" {% if not resultado and not contratos and not convenios_resultados %}style="display: none;"{% endif %}>
            {% if resultado %}
                <h2>Detalles del Contrato</h2>
                <div id="destinatarioContainer">
                    <h3>Seleccione un destinatario para generar el oficio:</h3>
                    <select id="destinatarioSelect" onchange="mostrarDestinatario()">
                        <option value="">-- Seleccione --</option>
                        {% for d in destinatarios %}
                            <option value="{{ d.NOMBRE }}" data-cargo="{{ d.CARGO }}">{{ d.NOMBRE }}</option>
                        {% empty %}
                            <option value="">No hay destinatarios disponibles</option>
                        {% endfor %}
                    </select>
                    <p id="destinatarioInfo"></p>
                    <p id="cargoInfo" style="font-style: italic;"></p>
                    <br>


                    <div id="generarOficioButtons">
                        <button onclick="generarDocumento('firma_administrador', '{{ resultado.CONTRATO }}')">Oficio Formalización</button>
                        <button onclick="generarDocumento('poliza', '{{ resultado.CONTRATO }}')">Oficio Poliza Responsabilidad Civil</button>
                        <button onclick="generarDocumento('garantias', '{{ resultado.CONTRATO }}')">Oficio Requerimiento Garantías</button>
                    </div>
                    <br>
                    <p id="errorDestinatario" style="color: red; display: none;"></p>
                </div>
                <br>
                <div id="ccpContainer">
                    <h4>Con Copia Para (C.C.P.):</h4>
                    <br>

                    <div id="ccpList"></div>
                    <select id="ccpSelect">
                        <option value="">-- Seleccione destinatario --</option>
                        {% for d in destinatarios %}
                            <option value="{{ d.NOMBRE }}||{{ d.CARGO }}">{{ d.NOMBRE }} - {{ d.CARGO }}</option>
                        {% endfor %}
                    </select>
                    <button type="button" onclick="agregarCcp()">+</button>
                </div>
                <br>
               <div id="loadingMessage" style="display: none; font-style: italic; color: gray; margin-top: 10px;">
                   Generando documento, por favor espere...
               </div>
                <br>
                <ul class="sin-bullets">
                    <li><strong>Contrato:</strong> {{ resultado.CONTRATO }}</li>
                    <li><strong>Proveedor:</strong> {{ resultado.PROVEEDOR }}</li>
                    <li><strong>Descripción:</strong> {{ resultado.DESCRIPCIÓN }}</li>
                    {% if resultado.RFC and resultado.RFC != "N/A" and resultado.RFC != "Error en Excel" %}
                        <li><strong>RFC del Proveedor:</strong> {{ resultado.RFC }}</li>
                    {% else %}
                        <li style="color: red;"><strong>RFC del Proveedor:</strong> No disponible</li>
                    {% endif %}
                    {% if resultado.TOTAL_MIN != "N/A" %}
                        <li><strong>Total Min:</strong> {{ resultado.TOTAL_MIN }}</li>
                    {% endif %}
                    {% if resultado.TOTAL_MAX != "N/A" %}
                        <li><strong>Total Max:</strong> {{ resultado.TOTAL_MAX }}</li>
                    {% endif %}
                </ul>

                <div id="polizaDetails">
                    <h3>Vigencias:</h3>
                    <ul class="sin-bullets">
                        <li><strong>Fecha de Inicio:</strong> {{ resultado.FECHA_INICIO }}</li>
                        <li><strong>Fecha de Fin:</strong> {{ resultado.FECHA_FIN }}</li>
                        <li><strong>Observaciones:</strong> {{ resultado.OBSERVACIONES }}</li>
                    </ul>

                    <h3>Ruta de Firma y Formalización</h3>
                    <ul class="sin-bullets">
                        <li><strong>Firma del Proveedor:</strong> {{ resultado.FIRMA_PROVEEDOR }}</li>
                        <li><strong>Enviado a Firma del Administrador:</strong> {{ resultado.ENVIO_FIRMA_ADMIN }}</li>
                        <li><strong>Devuelto por el Administrador:</strong> {{ resultado.DEVUELTO_ADMIN }}</li>
                        <li><strong>Enviado a Firma del D.G.:</strong> {{ resultado.ENVIO_DG }}</li>
                        <li><strong>Devuelto por el D.G.:</strong> {{ resultado.DEVUELTO_DG }}</li>
                        <li><strong>Fecha Formalización Tesorería o Contrato:</strong> {{ resultado.FECHA_FORMALIZACION_TESO }}</li>
                        <li><strong>Área Solicitante:</strong> {{ resultado.AREA_SOLICITANTE }}</li>
                    </ul>

                    <h3>Información de Garantías:</h3>
                    <ul class="sin-bullets">
                        <li><strong>Fianza de Cumplimiento:</strong> <span style="{% if resultado.FIANZA_DE_CUMPLIMIENTO == 'NO APLICA' %}color: red;{% endif %}">{{ resultado.FIANZA_DE_CUMPLIMIENTO }}</span></li>
                        <li><strong>Póliza de Responsabilidad Civil:</strong> <span style="{% if resultado.POLIZA_DE_RESPONSABILIDAD_CIVIL == 'NO APLICA' %}color: red;{% endif %}">{{ resultado.POLIZA_DE_RESPONSABILIDAD_CIVIL }}</span></li>
                        <li><strong>Vicios Ocultos:</strong> <span style="{% if resultado.VICIOS_OCULTOS == 'NO APLICA' %}color: red;{% endif %}">{{ resultado.VICIOS_OCULTOS }}</span></li>
                        <li><strong>Fianza de Anticipo:</strong> <span style="{% if resultado.FIANZA_DE_ANTICIPO == 'NO APLICA' %}color: red;{% endif %}">{{ resultado.FIANZA_DE_ANTICIPO }}</span></li>
                        <li><strong>REPSE:</strong> <span style="{% if resultado.REPSE == 'NO APLICA' %}color: red;{% endif %}">{{ resultado.REPSE }}</span></li>
                    </ul>
                </div>

                {% if plurianual_info %}
                    <h3 style="color: green;">✅ Es plurianual</h3>
                    <button id="pluriButton" onclick="toggleSection('plurianualDetails', 'pluriButton')">Ver Detalle Plurianual</button>
                    <div id="plurianualDetails" style="display: none;">
                        <h3>Detalles del Plurianual</h3>
                        <ul class="sin-bullets">
                            <li><strong>Periodo:</strong> {{ plurianual_info.PERIODO }}</li>
                            <li><strong>Monto Total Plurianual:</strong> ${{ plurianual_info.MONTO_PLURI }}</li>
                            <li><strong>Partidas Afectadas:</strong> {{ plurianual_info.PARTIDAS_AFECTADAS }}</li>
                            <li><strong>Observaciones:</strong> {{ plurianual_info.OBSERVACIONES }}</li>
                        </ul>
                    </div>
                {% endif %}
            {% elif contratos %}
                <h2>Contratos Encontrados para el Proveedor</h2>
                <ul class="sin-bullets">
                    {% for contrato in contratos %}
                        <li>
                            <strong>Contrato:</strong> {{ contrato.CONTRATO }} - 
                            <button onclick="detallesContrato('{{ contrato.CONTRATO }}')">Ver Detalles</button>
                        </li>
                    {% endfor %}
                </ul>
            {% elif convenios_resultados %}
                <h2>Convenios Encontrados</h2>
                <ul class="sin-bullets">
                    {% for convenio in convenios_resultados %}
                        <li>
                            <strong>Convenio:</strong> {{ convenio.CONTRATO }} - 
                            <button onclick="detallesContrato('{{ convenio.CONTRATO }}')">Ver Detalles</button>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No se encontró el contrato o proveedor.</p>
            {% endif %}
        </div>
        <p id="mensajeNoResultados" style="display: none; color: red; font-weight: bold;"></p>
        {% endblock %}
    </div>
</body>
</html>
