<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador de Contratos</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="{% static js/script.js' %}" defer></script>  
</head>
<body>

    <div class="container">

        {% if resultados %}
            <h2>Resultados de la Búsqueda por Proveedor</h2>

            <div class="result-container" {% if not resultados %}style="display:none;"{% endif %}>
                {% for contrato in resultados %}
                    <article class="contrato-item">
                        <h3>Contrato: {{ contrato.CONTRATO }}</h3>
                        <p><strong>Proveedor:</strong> {{ contrato.PROVEEDOR }}</p>
                        <p><strong>Descripción:</strong> {{ contrato.DESCRIPCION }}</p>

                        <a href="{% url 'buscar_contrato' %}?contrato={{ contrato.CONTRATO }}">
                            <button>Ver Detalles</button>
                        </a>

                        <hr>
                    </article>
                {% endfor %}
            </div>

        {% else %}
            <p>No se encontraron contratos para este proveedor.</p>
        {% endif %}

    </div>
    <p id="mensajeNoResultados" style="display: none; color: red; font-weight: bold;"></p>


</body>
</html>
